In [197]:
import pandas as pd
import numpy as np
import os

In [198]:
df = pd.read_csv('../../cluster_code/results/sem_results_2/loglik_sem_2.csv')
df = df[df['index'] != 5]

In [199]:
df['BIC'] = df.loglik - 0.5*df['size']*3*np.log(16247)
df.sort_values('BIC', ascending = False)

    index         loglik  restart  size            BIC
8    1000 -337132.088203        0    11 -337292.066652
7    1000 -337155.822699        0    10 -337301.257652
9    1000 -337132.102042        0    12 -337306.623986
10   1000 -337130.357154        0    13 -337319.422593
11   1000 -337126.045311        0    14 -337329.654246
12   1000 -337124.278343        0    15 -337342.430773
6    1000 -337212.507919        0     9 -337343.399377
14   1000 -337119.022430        0    16 -337351.718355
13   1000 -337125.533518        0    17 -337372.772938
15   1000 -337119.539018        0    18 -337381.321934
16   1000 -337122.748730        0    19 -337399.075141
5    1000 -337295.495240        0     8 -337411.843202
17   1000 -337127.173073        0    20 -337418.042979
18   1000 -337118.910255        0    21 -337424.323657
19   1000 -337118.717927        0    22 -337438.674825
20   1000 -337104.291180        0    23 -337438.791573
21   1000 -337118.922380        0    24 -337467.966268
22   1000 -337118.882630        0    25 -337482.470013
23   1000 -337118.655084        0    26 -337496.785963
24   1000 -337119.562593        0    27 -337512.236967
25   1000 -337118.749129        0    28 -337525.966998
26   1000 -337118.313220        0    29 -337540.074585
4    1000 -337445.698830        0     7 -337547.503297
27   1000 -337118.940160        0    30 -337555.245020
3    1000 -337783.047027        0     6 -337870.307999
2    1000 -338622.662797        0     5 -338695.380273
1    1000 -340243.535777        0     4 -340301.709758
0    1000 -344315.748340        0     3 -344359.378826

In [120]:
idx = df.groupby('size')['BIC'].transform(max) == df['BIC']
df = df[idx].sort_values('BIC', ascending = False)
df

In [175]:
files = os.listdir('../../cluster_code/results/sem_results/')
files = ['../../cluster_code/results/sem_results/'+f for f in files if 'out_' in f]

In [194]:
df_out = pd.DataFrame({
    'cluster_number':[],
    'loglik':[],
    'iterations':[]
})
for file in files:
    with open(file) as f:
        lines = f.readlines()
        number_clusters = int(lines[0].split()[1].split('_')[3])
        loklik = float(lines[-4].split()[-1])
        iterations = (lines[-4].split()[1])
        df_out = df_out.append({
            'cluster_number': number_clusters,
            'loglik': loklik,
            'iterations': iterations,
        },ignore_index = True)
df_out = df_out[df_out.iterations != 'of']
df_out.iterations = df_out.iterations.astype(int)
df_out

    cluster_number    loglik  iterations
0             12.0 -337318.1           5
1             19.0 -337152.9           5
2             22.0 -337140.1           5
4             28.0 -337127.6           5
5             29.0 -337126.2           5
..             ...       ...         ...
78            18.0 -337118.8       10000
79             7.0 -337445.7         450
80            25.0 -337138.7           5
81            10.0 -337155.8        1822
83             8.0 -337432.8           5

[64 rows x 3 columns]

In [195]:
print(len(files))
df_out = df_out[(df_out.iterations > 1001)].copy()
df_out['BIC'] = df_out.loglik - 0.5*df_out['cluster_number']*3*np.log(16247)

84

In [196]:
df_out.sort_values('BIC', ascending = False).drop_duplicates()

    cluster_number    loglik  iterations            BIC
40            11.0 -337132.1        2031 -337292.078449
14            12.0 -337122.2       10000 -337296.721944
19            10.0 -337155.8        1822 -337301.234953
22            13.0 -337121.8       10000 -337310.865439
27            14.0 -337118.7       10000 -337322.308935
38            15.0 -337119.1       10000 -337337.252430
33            16.0 -337118.7       10000 -337351.395925
47            17.0 -337119.1       10000 -337366.339421
78            18.0 -337118.8       10000 -337380.582916
8             19.0 -337118.8       10000 -337395.126411
34            20.0 -337118.8       10000 -337409.669907

In [86]:
files = os.listdir('../../cluster_code/results/sem/')
def get_name (idx):
    x = [f for f in files if ('model_sem' in f and '_'+idx in f) ]
    x.sort()
    lam, mu, sigma = x
    return lam, mu, sigma

In [88]:
for i in df['index']:
    lam,mu,sigma = get_name(i)
    with open('../../cluster_code/data/sem/selected_models.csv', 'a') as myfile:
        myfile.write(','.join([lam,mu,sigma])+'\n')

In [163]:
1p model_sem_lambda_18_690p_.csv,model_sem_mu_18_690p_.csv,model_sem_sigma_18_690p_.csv
Submitted batch job 6932749
2p model_sem_lambda_16_210p_.csv,model_sem_mu_16_210p_.csv,model_sem_sigma_16_210p_.csv
Submitted batch job 6932750
3p model_sem_lambda_14_177p_.csv,model_sem_mu_14_177p_.csv,model_sem_sigma_14_177p_.csv
Submitted batch job 6932751
4p model_sem_lambda_20_723p_.csv,model_sem_mu_20_723p_.csv,model_sem_sigma_20_723p_.csv
Submitted batch job 6932752
5p model_sem_lambda_13_170p_.csv,model_sem_mu_13_170p_.csv,model_sem_sigma_13_170p_.csv
Submitted batch job 6932753
6p model_sem_lambda_19_706p_.csv,model_sem_mu_19_706p_.csv,model_sem_sigma_19_706p_.csv
Submitted batch job 6932754
7p model_sem_lambda_11_585p_.csv,model_sem_mu_11_585p_.csv,model_sem_sigma_11_585p_.csv
Submitted batch job 6932755
8p model_sem_lambda_21_746p_.csv,model_sem_mu_21_746p_.csv,model_sem_sigma_21_746p_.csv
Submitted batch job 6932756
9p model_sem_lambda_23_776p_.csv,model_sem_mu_23_776p_.csv,model_sem_sigma_23_776p_.csv
Submitted batch job 6932757
10p model_sem_lambda_17_674p_.csv,model_sem_mu_17_674p_.csv,model_sem_sigma_17_674p_.csv
Submitted batch job 6932758
11p model_sem_lambda_22_312p_.csv,model_sem_mu_22_312p_.csv,model_sem_sigma_22_312p_.csv
Submitted batch job 6932759
12p model_sem_lambda_24_793p_.csv,model_sem_mu_24_793p_.csv,model_sem_sigma_24_793p_.csv
Submitted batch job 6932760
13p model_sem_lambda_12_156p_.csv,model_sem_mu_12_156p_.csv,model_sem_sigma_12_156p_.csv
Submitted batch job 6932761
14p model_sem_lambda_15_200p_.csv,model_sem_mu_15_200p_.csv,model_sem_sigma_15_200p_.csv
Submitted batch job 6932762
15p model_sem_lambda_25_814p_.csv,model_sem_mu_25_814p_.csv,model_sem_sigma_25_814p_.csv
Submitted batch job 6932763
16p model_sem_lambda_26_826p_.csv,model_sem_mu_26_826p_.csv,model_sem_sigma_26_826p_.csv
Submitted batch job 6932764
17p model_sem_lambda_27_392p_.csv,model_sem_mu_27_392p_.csv,model_sem_sigma_27_392p_.csv
Submitted batch job 6932765
18p model_sem_lambda_28_852p_.csv,model_sem_mu_28_852p_.csv,model_sem_sigma_28_852p_.csv
Submitted batch job 6932766
19p model_sem_lambda_29_432p_.csv,model_sem_mu_29_432p_.csv,model_sem_sigma_29_432p_.csv
Submitted batch job 6932767
20p model_sem_lambda_30_888p_.csv,model_sem_mu_30_888p_.csv,model_sem_sigma_30_888p_.csv
Submitted batch job 6932768
21p model_sem_lambda_10_116p_.csv,model_sem_mu_10_116p_.csv,model_sem_sigma_10_116p_.csv
Submitted batch job 6932769
22p model_sem_lambda_9_547p_.csv,model_sem_mu_9_547p_.csv,model_sem_sigma_9_547p_.csv
Submitted batch job 6932770
23p model_sem_lambda_7_68p_.csv,model_sem_mu_7_68p_.csv,model_sem_sigma_7_68p_.csv
Submitted batch job 6932771
24p model_sem_lambda_8_534p_.csv,model_sem_mu_8_534p_.csv,model_sem_sigma_8_534p_.csv
Submitted batch job 6932772
25p model_sem_lambda_6_498p_.csv,model_sem_mu_6_498p_.csv,model_sem_sigma_6_498p_.csv
Submitted batch job 6932773
26p model_sem_lambda_5_46p_.csv,model_sem_mu_5_46p_.csv,model_sem_sigma_5_46p_.csv
Submitted batch job 6932774
27p model_sem_lambda_4_466p_.csv,model_sem_mu_4_466p_.csv,model_sem_sigma_4_466p_.csv
Submitted batch job 6932775
28p model_sem_lambda_3_459p_.csv,model_sem_mu_3_459p_.csv,model_sem_sigma_3_459p_.csv
Submitted batch job 6932776

SyntaxError: invalid syntax (3321163522.py, line 1)