# Compare the results from npMSL

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn.metrics.cluster import adjusted_rand_score
sns.set_theme()

In [2]:
files = [i for i in os.listdir('../../cluster_code/results/np_replicates/') if 'posteriors' in i]

In [8]:
labels = {}
def get_labels(idx) :
    if idx not in labels:
        labels[idx] = np.argmax(pd.read_csv('../../cluster_code/results/np_replicates/'+files[idx],index_col=0).values, axis = 1)
    return labels[idx]

In [9]:
labels_gt = pd.read_csv('../../cluster_code/data/sim_data_2_labels.csv').x.values

In [10]:
results = pd.DataFrame({'same_bw':[],'iterations':[],'cluster_size':[], 'dataset':[], 'ngrid':[], 'ARI':[]})
for idx, value in enumerate(files):
    results = results.append(
        {
            'same_bw':value.split('_')[2],
            'iterations':value.split('_')[3],
            'cluster_size':value.split('_')[4], 
            'ARI': adjusted_rand_score(labels_gt, get_labels(idx))
        }, ignore_index=True)

In [11]:
results.sort_values(by='ARI', ascending=False).head(20)

   same_bw iterations cluster_size  dataset  ngrid       ARI
11   npMSL       TRUE         1500      NaN    NaN  0.158253
7    npMSL       TRUE         1500      NaN    NaN  0.156322
22   npMSL       TRUE         1500      NaN    NaN  0.154740
3    npMSL       TRUE         1500      NaN    NaN  0.154298
12   npMSL       TRUE         1500      NaN    NaN  0.153316
45   npMSL       TRUE         1500      NaN    NaN  0.153303
2    npMSL       TRUE         1500      NaN    NaN  0.152800
28   npMSL       TRUE         1500      NaN    NaN  0.152800
30   npMSL       TRUE         1500      NaN    NaN  0.151188
46   npMSL       TRUE         1500      NaN    NaN  0.150334
19   npMSL       TRUE         1500      NaN    NaN  0.150208
42   npMSL       TRUE         1500      NaN    NaN  0.149815
20   npMSL       TRUE         1500      NaN    NaN  0.149746
18   npMSL       TRUE         1500      NaN    NaN  0.149746
25   npMSL       TRUE         1500      NaN    NaN  0.149746
21   npMSL       TRUE         1500      NaN    NaN  0.149746
35   npMSL       TRUE         1500      NaN    NaN  0.149248
34   npMSL       TRUE         1500      NaN    NaN  0.149248
43   npMSL       TRUE         1500      NaN    NaN  0.148843
6     npEM       TRUE          500      NaN    NaN  0.148786

In [12]:
files_npEM = [i for i in os.listdir('../../cluster_code/npMSLvsPoisson/results_npEM/') if 'posteriors' in i]

In [13]:
labels_npEM = {}
def get_labels_npEM(idx) :
    if idx not in labels_npEM:
        labels_npEM[idx] = np.argmax(pd.read_csv('../../cluster_code/npMSLvsPoisson/results_npEM/'+files_npEM[idx],index_col=0).values, axis = 1)
    return labels[idx]

In [14]:
results_npEM = pd.DataFrame({'same_bw':[],'iterations':[],'cluster_size':[], 'dataset':[],  'ARI':[]})
for idx, value in enumerate(files_npEM):
    print(idx, end=',')
    results_npEM = results_npEM.append(
        {
            'same_bw':value.split('_')[2],
            'iterations':value.split('_')[3],
            'cluster_size':value.split('_')[4], 
            'dataset':'.'.join(value.split('_')[5:]), 
            'ARI': adjusted_rand_score(labels_gt, get_labels_npEM(idx))
        }, ignore_index=True)

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

KeyError: 49

In [66]:
results_npEM.sort_values(by='ARI', ascending=False)

   same_bw iterations cluster_size                dataset       ARI
9     TRUE        450           12  data.cero.replace.csv  0.161380
63   FALSE        450           14  data.cero.replace.csv  0.157511
39   FALSE        450           11  data.cero.replace.csv  0.156585
37    TRUE        200           20               data.csv  0.156211
20   FALSE        200           14  data.cero.replace.csv  0.155625
..     ...        ...          ...                    ...       ...
7     TRUE        375           17               data.csv  0.115122
68    TRUE        200           15  data.cero.replace.csv  0.114504
31   FALSE        375           11  data.cero.replace.csv  0.114412
62    TRUE        375           15               data.csv  0.113195
88    TRUE        450           17               data.csv  0.112675

[90 rows x 5 columns]

In [71]:
files_one_col = [i for i in os.listdir('../../cluster_code/npMSLvsPoisson/results_np_one_col/') if 'posteriors' in i]

In [80]:
labels_np = {}
def get_labels_np(idx) :
    if idx not in labels_np:
        labels_np[idx] = np.argmax(
            pd.read_csv('../../cluster_code/npMSLvsPoisson/results_np_one_col/'+files_one_col[idx],index_col=0).values, axis = 1)
    return labels[idx]
results_np = pd.DataFrame({'method':[],'same_bw':[],'iterations':[],'cluster_size':[], 'col':[], 'dataset':[],  'ARI':[]})
for idx, value in enumerate(files_one_col):
    print(idx, end=',')
    results_np = results_np.append(
        {
            'method':value.split('_')[2],
            'same_bw':value.split('_')[3],
            'iterations':value.split('_')[4],
            'cluster_size':value.split('_')[5],
            'col':value.split('_')[6],
            'dataset':'.'.join(value.split('_')[7:]), 
            'ARI': adjusted_rand_score(labels_gt, get_labels_np(idx))
        }, ignore_index=True)

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,

In [82]:
results_np.sort_values('ARI')

,method,same_bw,iterations,cluster_size,col,dataset,ARI
88,npMSL,FALSE,500,16,2,data.cero.replace.csv,0.112675
62,npEM,TRUE,200,12,1,data.cero.replace.csv,0.113195
177,npMSL,TRUE,200,16,1,data.csv,0.113779
162,npEM,TRUE,500,20,2,data.cero.replace.csv,0.114099
175,npEM,TRUE,1000,15,2,data.cero.replace.csv,0.114322
...,...,...,...,...,...,...,...
200,npEM,FALSE,200,15,2,data.cero.replace.csv,0.159126
183,npEM,TRUE,200,15,2,data.cero.replace.csv,0.160776
9,npMSL,TRUE,200,10,1,data.csv,0.161380
117,npEM,TRUE,500,18,2,data.cero.replace.csv,0.162589
95,npEM,TRUE,200,16,1,data.cero.replace.csv,0.165068