In [1]:
import pandas as pd 
from pandas_profiling import ProfileReport
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('./data/human_liver_b_cell.csv',index_col=0)
data.head()

                 SRX008333  SRX008334  SRX008331  SRX008332
ENSG00000000003          0          0         35         36
ENSG00000000419         16         20          9         15
ENSG00000000457         10         13         28         27
ENSG00000001036          0          0         19         17
ENSG00000001167         64         56         97        103

In [3]:
data.describe()

          SRX008333    SRX008334     SRX008331     SRX008332
count   4956.000000  4956.000000   4956.000000   4956.000000
mean      83.232042    76.921308     99.882768     95.277038
std      226.845037   196.399504    349.581035    326.963765
min        0.000000     0.000000      0.000000      0.000000
25%       11.000000    11.000000     19.000000     18.000000
50%       31.000000    29.000000     43.500000     42.000000
75%       82.000000    76.000000     98.000000     96.000000
max    10379.000000  8063.000000  19707.000000  18605.000000

In [4]:
profile = ProfileReport(data, title="Human cells report")

In [5]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/18 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Try with the log transform

In [6]:
for col in data.columns :
    data[col] = np.log(data[col]+1)

In [7]:
data.describe()

         SRX008333    SRX008334    SRX008331    SRX008332
count  4956.000000  4956.000000  4956.000000  4956.000000
mean      3.311976     3.247458     3.740717     3.701701
std       1.619367     1.613226     1.354900     1.354008
min       0.000000     0.000000     0.000000     0.000000
25%       2.484907     2.484907     2.995732     2.944439
50%       3.465736     3.401197     3.795426     3.761200
75%       4.418841     4.343805     4.595120     4.574711
max       9.247636     8.995165     9.888780     9.831239

In [8]:
profile = ProfileReport(data, title="Human cells report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/18 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…